<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ app_name }}</a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item {{ ( route_name == '/' ) ? 'active' : '' }}">
                <a class="nav-link" href="/">Home</a>
            </li>

            {% if auth.check != true %}
            
            <li class="nav-item {{ ( route_name == '/login' ) ? 'active' : '' }}">
                <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item {{ ( route_name == '/register' ) ? 'active' : '' }}">
                <a class="nav-link" href="/register">Register</a>
            </li>

            {% else %}

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" 
                    href="#" 
                    id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ base_url() }}/profile">Profile</a>
                    <a class="dropdown-item" href="{{ base_url() }}/password/update">Change Password</a>
                    <a class="dropdown-divider"></a>
                    <a class="dropdown-item" href="{{ base_url() }}/logout">Logout</a>

                 </div>

            </li>
            {% endif %}

            <li class="nav-item {{ ( route_name == '/contact_us' ) ? 'active' : '' }}">
                <a class="nav-link" href="/contact_us">Contact US</a>
            </li>

            <li class="nav-item {{ ( route_name == '/about_us' ) ? 'active' : '' }}">
                <a class="nav-link" href="/about_us">About US</a>
            </li>

        </ul>

    </div>
</nav>